asgiref==3.11.1
attrs==26.1.0
autobahn==24.4.2
Automat==25.4.16
certifi==2026.7.22
cffi==2.0.0
channels==4.3.2
charset-normalizer==3.5.1
constantly==23.10.4
crispy-bootstrap5==2026.3
cryptography==50.0.0
daphne==4.2.3
defusedxml==0.7.1
Django==4.2.30
django-crispy-forms==2.5
django-taggit==6.1.0
django-widget-tweaks==1.5.1
hyperlink==21.0.0
idna==3.19
Incremental==24.11.0
oauthlib==3.3.1
packaging==26.3
pillow==11.3.0
pycparser==2.23
PyJWT==2.13.0
pyOpenSSL==26.4.0
python3-openid==3.2.0
requests==2.32.5
requests-oauthlib==2.0.0
service-identity==26.1.0
social-auth-app-django==5.4.3
social-auth-core==4.7.0
sqlparse==0.5.5
tomli==2.4.1
Twisted==25.5.0
txaio==23.6.1
typing_extensions==4.16.0
urllib3==2.6.3
zope.interface==8.0.1
